<% provide(:title, t(:signin))%>
<div id="container1">
<h1>Sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>
  <p><%= f.label :email %>
  <p><%= f.text_field :email %>
  <p>
  <p><%= f.label :password %>
  <p><%= f.password_field :password %>

  <%= f.submit t(:signin) %>
<% end %>

<p><%= t(:new_user) %> <%= link_to t(:signup_now), signup_path %></p>
</div>

