<h1>Add note</h1>
<p>
<%= @user.name %>
</p>

<%= form_for [@user, @note] do |f| %>
  <%= f.label "Note" %>
  <%= f.text_field :note_item %>

  <%= f.label "Date" %>
  <%= f.date_field :date %>

  <%= f.submit "Submit" %>
<% end %>