<div id="container1">
<div id="prof_head" style="margin-bottom: 1%;">
  <h2><%= @dist %></h2>
</div>
<% left = true %>
<% @dist_races.each do |result| %>

  <div id="container2">
    <div id="entry_head2_<%= "#{if left 
                                  'l' 
                                else 
                                  'r' 
                                end }"%>">
      <h3><%= I18n.l(result.finish_time, format: :time) %></h3>
      <%= result.race_name %> 
      <%= I18n.l(result.race_date, format: :date) %>
      <% left = !left %>
    </div> 
  </div>
<% end %>
</div>