<div id="container1">
<div id="prof_head" style="margin-bottom: 1%;">
  <h2><%= t(:personal_bests) %></h2>
</div>
<% left = true %>
<% @results.each do |result| %>

  <div id="container2" style="cursor: pointer;" onclick="window.location='<%= "/distance/#{current_user.id}/#{result.distance}/" %>';">
    <div id="entry_head3_<%= "#{if left 
                                  'l' 
                                else 
                                  'r' 
                                end }"%>">
      <h3><%= result.distance %></h3> 
      <h3><%= I18n.l(result.finish_time, format: :time) %></h3>
      <%= result.race_name %> 
      <%= I18n.l(result.race_date, format: :date) %>
      <% left = !left %>
    </div> 
  </div>
<% end %>
</div>



