<div id="container1">
<div id="prof_head" style="margin-bottom: 1%;">
  <h2>Personal Bests</h2>
</div>
<% left = true %>
<% @results.each do |result| %>

  <div id="container2" style="cursor: pointer;" onclick="window.location='<%= "/distance/#{current_user.id}/#{result.distance}/" %>';">
    <div id="entry_head3_<%= "#{if left 
                                 'l' 
                                else 
                                 'r' 
                                end }"%>">
      <h3><%= result.distance %></h3> 
      <h3><%= result.finish_time.strftime("%H:%M:%S") %></h3>
      <%= result.race_name %> 
      <%= result.race_date.strftime("%d/%m/%y") %>
      <% left = !left %>
    </div> 
  </div>
<% end %>
</div>



