<div id="container1">
<div id="prof_head" style="margin-bottom: 1%;">
    <h2>Personal Bests</h2>
  </div>
<% @results.each do |result| %>
  <div id="container2">
    <div id="entry_head_l"><h3><%= result.distance %></h3> <%= result.race_name %> <%= result.finish_time %> <%= result.race_date %></div>
    <div id="entry_head_r"><h3><%= result.distance %></h3> <%= result.race_name %> <%= result.finish_time %> <%= result.race_date %></div>
  </div>
<% end %>

  
</div>
</div>

