<h1>Test</h1>
<h1><%= @period %></h1>

<div id="container" style="width:90%; margin: 0 auto;">
  <div id="nav_icons" style="width:90%; text-align:center; ">
    <%= link_to "Back ", "/log/#{@user[:id]}/#{@period - 1}" %><%= link_to " Forward", "/log/#{@user[:id]}/#{@period + 1}" %>
  </div>

  <div id = "log_box">
    <div id="log_row">
      <p>
        <div id="log">DAY</div>
        <div id="log1">DATE</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log6">TIME</div>
        <div id="log7">CALORIES</div>
        <div id ="notes">NOTES</div>
        <br>
      </p>
    </div>
    <% 7.times do |x| %>
    <div id="log_row">
      <p>
        <div id="plan1">
          <div id="log"><%= (@start  + x.day).strftime("%^a ") %>x</div>
          <div id="log1"><%= (@start + x.day).strftime("%d/%m/%y") %>x</div>
          <div id="log3"><%= @plan_array[x].plan_workout if !@plan_array[x].nil? %>x</div>
          <div id="log5"><%= "Q" if !@plan_array[x].nil? && @plan_array[x].plan_q %>x</div>
          <div id="log4"><%= @plan_array[x].plan_miles if !@plan_array[x].nil? %>x</div>
        </div>  
        <div id="log3"><%= @log_array[x].log_workout if !@log_array[x].nil? %>x</div>
        <div id="log5"><%= "Q" if !@log_array[x].nil? && @log_array[x].log_q %>x</div>
        <div id="log4"><%= @log_array[x].log_miles if !@log_array[x].nil? %>x</div>
        <div id="log6"><%= @log_array[x].log_time.strftime("%H:%M:%S") if !@log_array[x].nil? && !@log_array[x].log_time.nil? %>x</div>
        <div id="log7"><%= @log_array[x].log_calories if !@log_array[x].nil? %>x</div>
        <div id="notes"><%= @note_array[x].note_item if !@note_array[x].nil? %>x</div><br>
      </p>  
    </div>
    <% end %>
  </div>
</div>


 