<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class-"navbar-header">
      <a class="navbar-brand" href= <%= root_url %> >RunLogger</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
        <ul class= "nav navbar-nav">
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Races", user_races_path(current_user) %></li>
            <li><%= link_to "Log", "/users/#{current_user.id}/log/0" %></li>
            <li class="divider"><li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        </ul>
      <% end %>

      <% if !signed_in? %>
        <ul class= "nav navbar-nav pull-right">
          <li><%= link_to "Sign in", signin_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        </ul>
      <% end %>
    </div>  
  </div>
</nav>