
<div id="race_bar" style="cursor: pointer;" onclick="window.location='<%= edit_user_race_path(current_user, race_item.id) %>';">
  <div id="race_text" style="width:100%;"> 
    <div id="race_title">
      <h3><%= race_item.race_name %></h3>

      <p><%= race_item.distance %> </p>
      <%= race_item.race_date.strftime("%d/%m/%y") %>
      <%= race_item.position %>
      <% unless race_item.finish_time.nil? || race_item.finish_time.strftime("%H:%M:%S") == "00:00:00" %>
        <%= race_item.finish_time.strftime("%H:%M:%S") %>
      <% end %>  
    </div> 
  </div>
</div>

    