<h1>Edit plan session</h1>
<%= @user.name %>
<p>
<%= form_for [@user, @training_plan] do |f| %>
  <%= f.label "Date" %>
  <%= f.date_field :plan_date %>

  <%= f.label "Workout" %>
  <%= f.text_field :plan_workout %>

  <%= f.label "Quality session" %>
  <%= f.check_box :plan_q %>

  <%= f.label "Miles" %>
  <%= f.text_field :plan_miles %>

  <%= f.submit "Submit" %>
<% end %>
</p>