<h1>Add session to plan</h1>

<%= form_for [@user,@training_plan] do |f| %>

  <%= f.label "Date" %>
  <%= f.date_field :plan_date %>

  <%= f.label "Workout" %>
  <%= f.text_field :plan_workout %>

  <%= f.label "Miles" %>
  <%= f.text_field :plan_miles %>

  <%= f.label "Quality session" %>
  <%= f.check_box :plan_q %>

  <%= f.submit "Add to plan" %>

<% end %>
