<h1>Add session to log</h1>
<%= form_for [@user,@training_log] do |f| %>

  <%= f.label "Date" %>
  <%= f.date_field :log_date %>

  <%= f.label "Workout" %>
  <%= f.text_field :log_workout %>

  <%= f.label "Miles" %>
  <%= f.text_field :log_miles %>

  <%= f.label "Quality session" %>
  <%= f.check_box :log_q %>

  <%= f.label "Calorie estimate" %>
  <%= f.text_field :log_calories %>

  <%= f.label "Time" %>
  <%= f.time_select :log_time, include_seconds: true,  :value=> "01:01:01.001" %>

  <%= f.submit "Add to log" %>

<% end %>