
<div id="race_bar" style="cursor: pointer;" onclick="window.location='<%= edit_user_race_path(current_user, x.id) %>';">
  <div id="race_text" style="width:100%;"> 
    <div id="race_title">
      <h3><%= x.race_name %></h3>

      <p><%= x.distance %> </p>
      <%= x.race_date.strftime("%d/%m/%y") %>
      <%= x.position %>
      <% unless x.finish_time.nil? || x.finish_time.strftime("%H:%M:%S") == "00:00:00" %>
        <%= x.finish_time.strftime("%H:%M:%S") %>
      <% end %>  
    </div> 
  </div>
</div>