
<div id="container1">
  <div id="prof_head">
    <h2><%= @phase %></h2>
  </div>
  <div id="nav_icons" style="width:100%; text-align:center; padding-top: 7%; padding-bottom: 2%;">
    <%= link_to "<<", "/users/#{@user[:id]}/log/#{@period - 1}", class: "btn btn-large btn-custom"%>
    <%= link_to ">>", "/users/#{@user[:id]}/log/#{@period + 1}", class: "btn btn-large btn-custom" %>
  </div>
  
  <div id = "log_box">
    <div id="log_row2">
      <div id="plan_head"><%= t :plan %></div>
      <div id="log_head"><%= t :log %></div>
    </div>
    <div id="log_row2">
      <p>
        <div id="log"><%= t :logday %></div>
        <div id="log1"><%= t :logdate %></div>
        <div id="log3"><%= t :workout %></div>
        <div id="log5"><%= t :q %></div>
        <div id="log4"><%= t :miles %></div>
        <div id="log3"><%= t :workout %></div>
        <div id="log5"><%= t :q %></div>
        <div id="log4"><%= t :miles %></div>
        <div id="log6"><%= t :logtime %></div>
        <div id="log7"><%= t :calories %></div>
        <div id ="notes"><%= t :notes %></div>
        <br>
      </p>
    </div>

    <% 7.times do |x| %>

    <div title="Race: <%= @races[x].race_name + ": " + @races[x].distance if !@races[x].nil? %>">

    <div  <%= if !@races[x].nil? 
                "id=#{"race_log_row"}"
              else 
                "id=#{"log_row"}" 
              end%> style="cursor: pointer;" onclick="window.location='<%=  if @logs[x].nil?
                                                                              "/newlog/#{@user[:id]}/#{@period}/#{x + 1}" 
                                                                            else 
                                                                              "/editlog/#{@user[:id]}/#{@period}/#{x + 1}"
                                                                            end %>';">
      <p>
        <div id="log">
        <%= I18n.l(@start  + x.day, format: :just_day_short) %>

        </div>
        <div id="log1"><%= I18n.l(@start + x.day, format: :date) %></div>
        <div id="log3"><%=  if @logs[x].nil? 
                              t(:off_day)
                            else  
                              @logs[x].plan_workout
                            end %>&nbsp</div>
        <div id="log5"><%= t :q unless @logs[x].nil? || !@logs[x].plan_q  %>&nbsp</div>
        <div id="log4"><%= @logs[x].plan_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log3"><%= @logs[x].log_workout unless @logs[x].nil? %>&nbsp</div>
        <div id="log5"><%= t :q  unless @logs[x].nil? || !@logs[x].log_q %>&nbsp</div>
        <div id="log4"><%= @logs[x].log_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log6"><%= I18n.l(@logs[x].log_time, format: :time) unless @logs[x].nil? || @logs[x].log_time.nil?%>&nbsp</div>
        <div id="log7"><%= @logs[x].log_calories unless @logs[x].nil? %>&nbsp</div>
        <div id="notes"><%= @logs[x].notes unless @logs[x].nil? %>&nbsp</div>

    </div>
    <% end %>

</div>
  <div id="log-row">
      <div id="plan_head">
        <%= t :planned_miles %><%= @summary[:planned_miles] %>
      </div>
      <div id="log_head">
        <%= I18n.t(:logged_miles) %> <%=@summary[:logged_miles] %>,
        <%= I18n.t(:logged_cals) %> <%= @summary[:logged_calories] %>
        <%= I18n.t(:logged_time) %> <%= @summary[:logged_time] / 3600 %>  <%= t :hours %>, <%= (@summary[:logged_time] % 3600) / 60 %> <%= t :minutes %>  
      </div>  
  </div>
</div>

