
<div id="container1">
  <div id="nav_icons" style="width:100%; text-align:center; ">
    <%= link_to "Back ", "/users/#{@user[:id]}/log/#{@period - 1}" %><%= link_to " Forward", "/users/#{@user[:id]}/log/#{@period + 1}" %>
  </div>

  <div id = "log_box">
    <div id="log_row">
      <p>
        <div id="log">DAY</div>
        <div id="log1">DATE</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log6">TIME</div>
        <div id="log7">CALORIES</div>
        <div id ="notes">NOTES</div>
        <br>
      </p>
    </div>
    <% 7.times do |x| %>
    <div id="log_row">
      <p>
        <div id="log"><%= (@start  + x.day).strftime("%^a ") %></div>
        <div id="log1"><%= (@start + x.day).strftime("%d/%m/%y") %></div>
        <div id="log3"><%= @logs[x].plan_workout unless @logs[x].nil? %>&nbsp</div>
        <div id="log5"><%= "Q"  unless @logs[x].nil? || !@logs[x].plan_q  %>&nbsp</div>
        <div id="log4"><%= @logs[x].plan_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log3"><%= @logs[x].log_workout unless @logs[x].nil? %>&nbsp</div>
        <div id="log5"><%= "Q"  unless @logs[x].nil? || !@logs[x].log_q %>&nbsp</div>
        <div id="log4"><%= @logs[x].log_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log6"><%= @logs[x].log_time.strftime("%H:%M:%S") unless @logs[x].nil? %>&nbsp</div>
        <div id="log7"><%= @logs[x].log_calories unless @logs[x].nil? %>&nbsp</div>
        <div id="notes"><%= @logs[x].notes unless @logs[x].nil? %>&nbsp</div>
    </div>
    <% end %>
  </div>
</div>

