
<div id="container1">
  <div id="prof_head">
    <h2>Weekly log</h2>
  </div>
  <div id="nav_icons" style="width:100%; text-align:center; padding-top: 7%; padding-bottom: 2%;">
    <%= link_to "<<", "/users/#{@user[:id]}/log/#{@period - 1}", class: "btn btn-large btn-custom"%>
    <%= link_to ">>", "/users/#{@user[:id]}/log/#{@period + 1}", class: "btn btn-large btn-custom" %>
  </div>
  
  <div id = "log_box">
    <div id="log_row2">
      <div id="plan_head">PLAN</div>
      <div id="log_head">LOG</div>
    </div>
    <div id="log_row2">
      <p>
        <div id="log">DAY</div>
        <div id="log1">DATE</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log3">WORKOUT</div>
        <div id="log5">Q</div>
        <div id="log4">MILES</div>
        <div id="log6">TIME</div>
        <div id="log7">CALORIES</div>
        <div id ="notes">NOTES</div>
        <br>
      </p>
    </div>

    <% 7.times do |x| %>

    <div title="Race: <%= @races[x].race_name + ": " + @races[x].distance if !@races[x].nil? %>">

    <div  <%= if !@races[x].nil? 
                "id=#{"race_log_row"}"
              else 
                "id=#{"log_row"}" 
              end%> style="cursor: pointer;" onclick="window.location='<%=  if @logs[x].nil?
                                                                                "/newlog/#{@user[:id]}/#{@period}/#{x + 1}" 
                                                                              else 
                                                                                "/editlog/#{@user[:id]}/#{@period}/#{x + 1}"
                                                                              end %>';">
      <p>
        <div id="log">
        <%= (@start  + x.day).strftime("%^a ") %>

        </div>
        <div id="log1"><%= (@start + x.day).strftime("%d/%m/%y") %></div>
        <div id="log3"><%=  if @logs[x].nil? 
                              "Off"  
                            else  
                              @logs[x].plan_workout
                            end %>&nbsp</div>
        <div id="log5"><%= "Q"  unless @logs[x].nil? || !@logs[x].plan_q  %>&nbsp</div>
        <div id="log4"><%= @logs[x].plan_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log3"><%= @logs[x].log_workout unless @logs[x].nil? %>&nbsp</div>
        <div id="log5"><%= "Q"  unless @logs[x].nil? || !@logs[x].log_q %>&nbsp</div>
        <div id="log4"><%= @logs[x].log_miles unless @logs[x].nil? %>&nbsp</div>
        <div id="log6"><%= @logs[x].log_time.strftime("%H:%M:%S") unless @logs[x].nil? %>&nbsp</div>
        <div id="log7"><%= @logs[x].log_calories unless @logs[x].nil? %>&nbsp</div>
        <div id="notes"><%= @logs[x].notes unless @logs[x].nil? %>&nbsp</div>
    </div>
    <% end %>

</div>
  <div id="log-row">
      <div id="plan_head">
        Planned miles: <%= @summary[:planned_miles] %>
      </div>
      <div id="log_head">
        Logged miles: <%=@summary[:logged_miles] %>,
        logged calories: <%= @summary[:logged_calories] %>
        logged time: <%= @summary[:logged_time] / 3600 %> hours, <%= (@summary[:logged_time] % 3600) / 60 %> minutes  
      </div>  
  </div>
</div>

