<h1>Plan/Log entry</h1>

<%= form_for [@user,@logs] do |f| %>
  <%= f.label "Date" %>
  <%= f.date_field :log_date %>

  <%= f.label "Workout plan" %>
  <%= f.text_field :plan_workout %>

  <%= f.label "Quality session" %>
  <%= f.check_box :plan_q %>

  <%= f.label "Plan miles" %>
  <%= f.text_field :plan_miles %><br>

  <%= f.label "Workout log" %>
  <%= f.text_field :log_workout %>

  <%= f.label "Quality session" %>
  <%= f.check_box :log_q %>

  <%= f.label "Log miles" %>
  <%= f.text_field :log_miles %>

  <%= f.label "Workout time" %>
  <%= f.time_select :log_time, include_seconds: true,  :value=> "01:01:01.001" %>

  <%= f.label "Calories" %>
  <%= f.text_field :log_calories %>

  <%= f.label "Notes" %>
  <%= f.text_field :notes %>

  <%= f.submit "Submit" %>

<% end %>