<div id="container1">
  <h1>Edit phased training period.</h1>
  <p>When choosing a period for a training phase, it will default to a start date of the next available Monday, and a
     target date of the next available Sunday from the dates selected. Training periods cannot overlap. Phase II, III, IV have a limit of 6 week periods, any weeks over a 24 week period will be added to phase I.
  </p>
  <%= render 'shared/error_messages', object: @phase %>
  <%= form_for [@user,@phase] do |f| %>
    <p>
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>
    </p>
    <p>
      <%= f.label :target_date %>
      <%= f.date_field :target_date %>
    </p>

    <%= f.submit t(:submitter), class: "btn btn-lg btn-custom" %> 
  
    <%= link_to t(:deleter), user_phase_path(@user.id, @phase.id), method: :delete, data: { confirm: "Are you sure?" },
      class: "btn btn-lg btn-custom" %>
  <% end %>
</div>