<div id="container1">
  <h1><%= t :edit_phase_head %></h1>
  <p><%= t :phase_info %>
  </p>
  <%= render 'shared/error_messages', object: @phase %>
  <%= form_for [@user,@phase] do |f| %>
    <p>
      <%= f.label :start_date %>
      <%= f.date_field :start_date %>
    </p>
    <p>
      <%= f.label :target_date %>
      <%= f.date_field :target_date %>
    </p>

    <%= f.submit t(:submitter), class: "btn btn-lg btn-custom" %> 
  
    <%= link_to t(:deleter), user_phase_path(@user.id, @phase.id), method: :delete, data: { confirm: t(:confirm_text) },
      class: "btn btn-lg btn-custom" %>
  <% end %>
</div>